# Core
numpy<1.27
pandas
joblib
tqdm

# ML
scikit-learn==1.6.1
imbalanced-learn
matplotlib

# Audio
librosa==0.10.2.post1
soundfile
numba==0.59.1
llvmlite==0.42.0
lazy-loader
typing-extensions
audioread
soxr
